@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: 'Lora', serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

.card.ant-card-body{
  background-color: #101010CC !important  ;
}

.ant-picker-calendar .ant-picker-panel{
  background: rgba(255, 255, 255, 0.1) !important;
  color:white;

}

.ant-picker-calendar .ant-picker-cell-in-view {
  color: #ededed !important;
}
.ant-form-item-label >label{
  color: white !important;
}

.ant-picker-calendar .ant-picker-cell .ant-picker-cell-inner {
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 42px;
  height: 42px;
  line-height: 39px;
  border-radius: 40px;
  transition: background 0.2s;
}

.ant-picker-calendar .ant-picker-cell .ant-picker-cell-inner{
  position: relative !important;
  font-weight: 400;
  z-index: 2;
  display: inline-block;
  font-size:   24px;
  min-width: 50px !important;
  height: 50px !important;
  line-height: 48px !important;
  border-radius: 50% !important;
  transition: background 0.2s !important;       
}

.ant-card-bordered{
  border:none !important;

}

.ant-typography{
  color: white !important;
  font-weight: 700 !important ;
  font-size:   30px !important;

}

.ant-card .ant-card-body {
  background: none !important;;
}

.ant-picker-calendar-mini{
border-radius: 36px !important;
}

.ant-btn-variant-outlined{
  background: none !important;
  border: none !important;
}

.ant-btn{
font-size: 25px !important;
color: white !important;
}
.ant-picker-calendar-mini .ant-picker-content th{
  font-size: 24px !important;
  color:white !important;
  font-weight: 500 !important;
  line-height: 59px !important;
}

.ant-input {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

